.action-menu {
  display: inline-flex;
  color: var(--color-twinkle-blue);
  font-weight: 500;
  font-size: 24px;
  align-items: center;
}

.action-menu::before {
  content: "";
  background-color: var(--color-gloomy-purple);
  width: 10px;
  height: 10px;
  margin-right: 10px;

  transition-property: background-color, transform, border-radius;
  transition-duration: 800ms, 500ms, 800ms;
  transition-timing-function: ease-in-out;
}

.action-menu:hover {
  color: inherit;
}

.action-menu:hover::before {
  background-color: var(--color-light-purple);
  transform: rotate(0.38turn);
  border-radius: 50%;
}
