.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-russian-violet);
  width: 10%;
  height: 140px;
  box-sizing: border-box;
  transition: all 400ms linear;
}

.card:hover {
  border-radius: 10px;
  background: radial-gradient(
    circle,
    var(--color-gloomy-purple) 15%,
    var(--color-gloomy-purple) 30%,
    var(--color-russian-violet) 70%
  );
  border: 1px solid var(--color-cultured);
}

.card:hover .icon-html-pixel,
.card:hover .icon-css-pixel,
.card:hover .icon-js-pixel,
.card:hover .icon-react-pixel {
  opacity: 0;
}

.card:hover .icon-html,
.card:hover .icon-css,
.card:hover .icon-js,
.card:hover .icon-react {
  transform: scale(1.2);
  opacity: 1;
}
