.home-box {
  text-align: center;
  background-color: var(--color-black-coral);
  display: inline-block;
  padding: 42px 18px;
  box-sizing: border-box;
  box-shadow: 10px 10px 0 var(--color-black);

  transition-property: box-shadow, transform, border-radius;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}

.home-box title > .text1,
.home-box .subtitle-text1 {
  transition: opacity 400ms linear;
}

.home-box .text2,
.home-box .subtitle-text2 {
  transition: opacity 200ms linear;
}

.home-box:hover {
  background: radial-gradient(
    circle,
    var(--color-twinkle-blue) 0%,
    var(--color-black-coral) 100%
  );
  border-radius: 10px;
  box-shadow: 10px 10px 2px var(--color-black);
  transform: scale(1.03);
}

.home-box:hover .title-main > .text1 {
  opacity: 0;
}

.home-box:hover .title-main > .text2 {
  opacity: 1;
}

.home-box:hover .subtitle-text1 {
  opacity: 0;
}

.home-box:hover .subtitle-text2 {
  display: inline;
}
