#home-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 1s all ease;
}

#home-image:hover {
  transform: scale(1.1);
}

#home-image #lillow-image {
  max-width: 595px;
  width: auto;
  height: auto;
}

#home-image:hover .icon-html-pixel,
#home-image:hover .icon-css-pixel,
#home-image:hover .icon-js-pixel,
#home-image:hover .icon-react-pixel {
  opacity: 0;
}

#home-image:hover .icon-html,
#home-image:hover .icon-css,
#home-image:hover .icon-js,
#home-image:hover .icon-react {
  transform: scale(1.2);
  opacity: 1;
}

#home-image .figure1 {
  position: absolute;
  top: 60px;
  left: 120px;
}

#home-image .figure2 {
  position: absolute;
  top: 60px;
  left: 360px;
}

#home-image .figure3 {
  position: absolute;
  bottom: 60px;
  left: 120px;
}

#home-image .figure4 {
  position: absolute;
  bottom: 60px;
  left: 360px;
}
