#home {
  box-sizing: border-box;
  background-color: var(--color-russian-violet);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
  height: 800px;
  border-bottom: 6px solid var(--color-black);
}

#home #home-image {
  max-width: 660px;
  max-height: 660px;
  width: auto;
  height: auto;
}

#home .wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#home .box {
  margin-bottom: 38px;
}

#home .navigation {
  display: flex;
  justify-content: space-around;
}
