.icon-90 {
  max-width: 90px;
  max-height: 90px;
}

.icon-60 {
  max-width: 66px;
  max-height: 66px;
}

.icon-html-pixel,
.icon-css-pixel,
.icon-js-pixel,
.icon-react-pixel {
  position: absolute;
  transition: 1.5s all ease;
}

.icon-html,
.icon-css,
.icon-js,
.icon-react {
  transition: 2s all ease;
  opacity: 0;
}

.figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
