.main-text {
  text-align: justify;
  line-height: 2.1;
  padding: 0 180px;
  position: relative;
  bottom: 10%;
  font-size: 18px;
}

.main-text > .content {
  /* position: absolute; */
}

.main-text.-second {
  padding: 0;
  position: relative;
  bottom: 0;
  text-align: center;
}

.main-text .emphasis {
  color: var(--color-russian-violet);
  font-weight: bold;
}

.main-text .emphasis.-second {
  font-size: 21px;
  line-height: 2.4;
  color: var(--color-russian-violet);
}

.main-text .emphasis.-orange {
  color: var(--color-portland-orange);
}

.main-text .emphasis.-blue {
  color: var(--color-absolute-zero);
}

.main-text .emphasis.-blue1 {
  color: var(--color-sky-blue);
}

.main-text .emphasis.-yellow {
  color: var(--color-yellow-munsell);
}

.main-text .emphasis.-red {
  color: var(--color-red-pigment);
}
