.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-wrapper.-banner {
  max-width: 45%;
  min-width: 40%;
}

.main-wrapper.-banner > .main-box {
  margin-bottom: 38px;
}

.main-wrapper.-banner > .navigation {
  display: flex;
  justify-content: space-around;
}

.main-wrapper.-grey {
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  width: 50%;
}

.main-wrapper.-purple {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-wrapper.-grey.-second {
  width: 85%;
  flex-wrap: nowrap;
  overflow: hidden;
}

.main-wrapper.-grey.-second > .elements {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  transition: transform 100ms ease-in-out;
}
