.main-section {
  padding: 80px 60px 100px;
  border-bottom: 6px solid var(--color-black);
  display: flex;
  flex-direction: column-reverse;
}

.main-section.-grey {
  background-color: var(--color-black-coral);
  padding: 80px 50px;
}

.main-section.-purple {
  background-color: var(--color-russian-violet);
}

.main-section.-grey.-second {
  position: relative;
  padding: 80px 0 100px;
}
