.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 1s all linear;
}

.main-image:hover {
  transform: scale(1.1);
}

.main-image .lillow-image {
  max-width: 595px;
  width: auto;
  height: auto;
}

.main-image::after {
  content: "";
  text-align: calc(0 100%);
  background-color: #272727;
  width: 7.5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 61.91%;
  left: 37.25%;
  transition: all 600ms ease-in;
}

.main-image:hover::after {
  box-shadow: 0px 0px 7.8px 3.5px blue, inset 0 0 10px 10px blue;
}

.main-image .icon1 {
  max-width: 90px;
  max-height: 90px;
  position: absolute;
  transition: 1.5s all ease;
}

.main-image .icon2 {
  max-width: 90px;
  max-height: 90px;
  transition: 2s all ease;
  opacity: 0;
}

.main-image:hover .icon1 {
  opacity: 0;
}

.main-image:hover .icon2 {
  transform: scale(1.12);
  opacity: 1;
}

.main-image > .figure1 {
  position: absolute;
  top: 60px;
  left: 120px;

  animation: icon-move 3s linear 3.6s infinite alternate;
}

.main-image > .figure2 {
  position: absolute;
  top: 60px;
  left: 360px;

  animation: icon-move 3s linear 2.4s infinite alternate;
}

.main-image > .figure3 {
  position: absolute;
  bottom: 60px;
  left: 120px;

  animation: icon-move 3s linear 1.5s infinite alternate;
}

.main-image > .figure4 {
  position: absolute;
  bottom: 60px;
  left: 360px;

  animation: icon-move 3s linear 0.6s infinite alternate;
}

@keyframes icon-move {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(0%, 50%);
  }
}
