.main-title {
  color: var(--color-gloomy-purple);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.main-title > .text1 {
  font-family: "Press Start 2P", sans-serif;
  font-size: 30px;
  text-shadow: 3px 3px 0 var(--color-black);
}

.main-title > .text2 {
  font-weight: 700;
  font-size: 50px;
  position: absolute;
  opacity: 0;
  text-shadow: 3px 3px 2px var(--color-black);
}

.main-title.-second {
  position: relative;
  bottom: 390px;
}

.main-title.-second > .text1 {
  font-size: 24px;
  color: var(--color-cultured);
  transition: opacity 400ms linear;
}

.main-title.-second > .text2 {
  font-size: 36px;
  color: var(--color-cultured);
  transition: opacity 200ms linear;
}
