.main-figure {
  display: block;
  position: absolute;
  width: 16%;
  height: 20%;
}

/*************** main-figure > main-image ***************/
.main-figure > .icon1 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;

  transition: 1.5s all ease;
}

.main-figure > .icon2 {
  width: 100%;
  height: 100%;
  opacity: 0;

  transition: 2s all ease;
}

.main-figure.-one {
  top: 15%;
  left: 20%;

  animation: figure-move 3s linear 3.6s infinite alternate;
}

.main-figure.-two {
  top: 17%;
  left: 60%;

  animation: figure-move 3s linear 2.4s infinite alternate;
}

.main-figure.-three {
  bottom: 15%;
  left: 20%;

  animation: figure-move 3s linear 1.5s infinite alternate;
}

.main-figure.-four {
  bottom: 17%;
  left: 60%;

  animation: figure-move 3s linear 0.6s infinite alternate;
}

.main-figure.-one > .icon2 > .path1 {
  fill: var(--color-portland-orange);
}

.main-figure.-one > .icon2 > .path2 {
  fill: var(--color-Mango-tango);
}

.main-figure.-one > .icon2 > .path3,
.main-figure.-two > .icon2 > .path3,
.main-figure.-three > .icon2 > .path8,
.main-figure.-four > .icon2 > .path2 {
  fill: var(--color-black-coral);
}

.main-figure.-one > .icon2 > .path4,
.main-figure.-two > .icon2 > .path5,
.main-figure.-three > .icon2 > .path3,
.main-figure.-three > .icon2 > .path4,
.main-figure.-three > .icon2 > .path6 {
  fill: var(--color-cultured);
}

.main-figure.-one > .icon2 > .path5,
.main-figure.-two > .icon2 > .path6,
.main-figure.-four > .icon2 > .circle {
  fill: var(--color-twinkle-blue);
}

.main-figure.-one > .icon2 > .path6,
.main-figure.-two > .icon2 > .path4 {
  fill: var(--color-yellow-munsell);
}

.main-figure.-two > .icon2 > .path1 {
  fill: var(--color-absolute-zero);
}

.main-figure.-two > .icon2 > .path2 {
  fill: var(--color-bluetiful);
}

.main-figure.-three > .icon2 > .path1 {
  fill: var(--color-yellow-munsell);
}

.main-figure.-three > .icon2 > .path2 {
  fill: var(--color-arylide-yellow);
}

.main-figure.-four > .icon2 > .path1 {
  fill: var(--color-sky-blue);
}

/*************** main-figure-second ***************/
.main-figure.-second {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

.main-figure.-second .icon1 {
  width: 100%;
  height: 100%;
}
.main-figure.-second .icon2 {
  width: 100%;
  height: 100%;
}

.main-figure.-second.-html > .icon2 .stroke,
.main-figure.-second.-css > .icon2 .stroke {
  stroke: var(--color-black);
  stroke-width: 18;
}

.main-figure.-second.-html > .icon2 .path1 {
  fill: var(--color-portland-orange);
}

.main-figure.-second.-html > .icon2 .path2 {
  fill: var(--color-Mango-tango);
}

.main-figure.-second.-css > .icon2 .path1 {
  fill: var(--color-absolute-zero);
}

.main-figure.-second.-css > .icon2 .path2 {
  fill: var(--color-bluetiful);
}

.main-figure.-second.-html > .icon2 .path3,
.main-figure.-second.-css > .icon2 .path3 {
  fill: var(--color-white);
}

.main-figure.-second.-html > .icon2 .path4,
.main-figure.-second.-css > .icon2 .path4 {
  fill: var(--color-cultured);
}

.main-figure.-second.-js > .icon2 .path1 {
  fill: var(--color-yellow-munsell);
}

.main-figure.-second.-js > .icon2 .path2 {
  stroke-width: 20;
  stroke: var(--color-black);
}

.main-figure.-second.-react > .icon2 .path1 {
  fill: var(--color-sky-blue);
}

.main-figure.-second.-react > .icon2 .path2 {
  fill: var(--color-black);
}

.main-figure.-second.-java > .icon2 .path1 {
  fill: var(--color-red-pigment);
}

.main-figure.-second.-java > .icon2 .path2 {
  fill: var(--color-absolute-zero);
}

/*************** main-figure-move ***************/
@keyframes figure-move {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(0%, 50%);
  }
}
