.main-action {
  display: inline-flex;
  color: var(--color-twinkle-blue);
  font-weight: 500;
  font-size: 1.5rem;
  align-items: center;
}
.main-action::before {
  content: "";
  background-color: var(--color-gloomy-purple);
  width: 10px;
  height: 10px;
  margin-right: 10px;

  transition-property: background-color, transform, border-radius;
  transition-duration: 800ms, 500ms, 800ms;
  transition-timing-function: ease-in-out;
}

.main-action:hover {
  color: inherit;
}

.main-action:hover::before {
  background-color: var(--color-light-purple);
  transform: rotate(0.38turn);
  border-radius: 50%;
}

.main-action.-second {
  margin-top: 90px;
  font-size: 18px;
}

.main-action.-second::before {
  display: none;
}
