.main-navlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 7.9vh;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  --color-black-coral: #778ca3f0;
  background-color: var(--color-black-coral);

  transform: translateY(-200%);
  transition: transform 400ms linear;
}

.main-navlist.active {
  transform: translateX(0);
}
