.main-box {
  padding: 42px 18px;
  max-width: 92vw;
  box-sizing: border-box;
  box-shadow: 10px 10px 0 var(--color-black);

  transition-property: box-shadow, transform, border-radius;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}

.main-box.-grey {
  text-align: center;
  background-color: var(--color-black-coral);
  display: inline-block;
}

.main-box.-grey .main-title > .text1,
.main-box.-grey .main-subtitle > .text1 {
  transition: opacity 400ms linear;
}

.main-box.-grey .main-title > .text2,
.main-box.-grey .main-subtitle > .text2 {
  transition: opacity 200ms linear;
}

.main-box.-grey:hover {
  border-radius: 10px;
  box-shadow: 10px 10px 2px var(--color-black);
  background: radial-gradient(
    circle,
    var(--color-twinkle-blue) 0%,
    var(--color-black-coral) 100%
  );
  cursor: pointer;
  transform: scale(1.03);
}

.main-box.-grey:hover .main-title > .text1 {
  opacity: 0;
}

.main-box.-grey:hover .main-title > .text2 {
  opacity: 1;
}

.main-box.-grey:hover .main-subtitle > .text1 {
  opacity: 0;
}

.main-box.-grey:hover .main-subtitle > .text2 {
  display: inline;
}

.main-box.-purple {
  line-height: 1.8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  padding: 8px;
  width: 45%;
  min-height: 300px;
  background-color: var(--color-russian-violet);
}

.main-box.-grey.-inner {
  position: absolute;
  top: -5%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 80%;
  margin: auto;
  overflow: auto;
  padding: 1em 2em;
  cursor: default;
  padding-top: 3rem;
}

.main-box.-grey.-inner:hover {
  box-shadow: 10px 10px 0 var(--color-black);
  background: var(--color-black-coral);
  border-radius: 0%;
  transform: none;
}

.main-box.-grey.-inner > .close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.main-box.-grey.-inner > .close:after,
.main-box.-grey.-inner > .close:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: var(--color-twinkle-blue);
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.main-box.-grey.-inner > .close:hover:after,
.main-box.-grey.-inner > .close:hover:before {
  background: var(--color-sizzling-red);
}

.main-box.-grey.-inner > .close:before {
  transform: rotate(-45deg);
}
