.main-carousel {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
}

.main-carousel::after {
  content: "";
  display: block;
  position: absolute;
  top: 25px;
  height: 4px;
  width: calc(100% - 100px);
  background-color: var(--color-black);
}

.main-carousel::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  top: 25px;
  border: 2px dashed var(--color-black);
  width: 100%;
}
