.main-modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  transition: all 450ms ease-in-out;
}

.main-modal > .bg {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
  background-color: var(--color-black);
  opacity: 75%;
}

.state {
  display: none;
}

.state:checked + .main-modal {
  opacity: 1;
  visibility: visible;
}

.main-modal > .main-box.-grey.-inner {
  position: absolute;
  top: -5%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 80%;
  margin: auto;
  overflow: auto;
  padding: 1em 2em;
}

.main-modal > .main-box.-grey.-inner:hover {
  box-shadow: 10px 10px 0 var(--color-black);
  background: var(--color-black-coral);
  border-radius: 0%;
  transform: none;
}

.main-modal > .main-box.-grey.-inner > .close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.main-modal > .main-box.-grey.-inner > .close:after,
.main-modal > .main-box.-grey.-inner > .close:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: var(--color-twinkle-blue);
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.main-modal > .main-box.-grey.-inner > .close:hover:after,
.main-modal > .main-box.-grey.-inner > .close:hover:before {
  background: var(--color-sizzling-red);
}

.main-modal > .main-box.-grey.-inner > .close:before {
  transform: rotate(-45deg);
}
