.main-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #778ca351;
  border-bottom: 3px solid #4b658451;
  width: 100%;
  padding: 10px 20px;
  z-index: 999;
  position: fixed;
}

.main-navbar > .navigation > .menu > .item {
  display: inline;
  margin-right: 48px;
}
