.main-text {
  text-align: justify;
  line-height: 2rem;
  padding: 0 10%;
  position: relative;
  bottom: 10%;
  font-size: 1.2rem;
}

.main-text.-second {
  padding: 0;
  position: relative;
  bottom: 0;
  text-align: center;
}

.main-text .emphasis {
  color: var(--color-russian-violet);
  font-weight: bold;
}

.main-text .emphasis.-second {
  font-size: 1.5rem;
  line-height: 3rem;
  color: var(--color-russian-violet);
}

.main-text .emphasis.-orange {
  color: var(--color-portland-orange);
}

.main-text .emphasis.-blue {
  color: var(--color-absolute-zero);
}

.main-text .emphasis.-blue1 {
  color: var(--color-sky-blue);
}

.main-text .emphasis.-yellow {
  color: var(--color-yellow-munsell);
}

.main-text .emphasis.-red {
  color: var(--color-red-pigment);
}
