.main-mobilemenu {
  display: none;
  cursor: pointer;
}

.main-mobilemenu > .line {
  width: 32px;
  height: 3px;
  background-color: var(--color-twinkle-blue);
  margin: 8px;
  transition: 0.4s;
}

.main-mobilemenu.active .line.-one {
  transform: rotate(-45deg) translate(-10px, 8px);
}

.main-mobilemenu.active .line.-two {
  opacity: 0;
}

.main-mobilemenu.active .line.-three {
  transform: rotate(45deg) translate(-7px, -5px);
}
