.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;

  transition: transform 1s linear;
}

.main-image:hover {
  transform: scale(1.06);
}

.main-image .lillow {
  width: 100%;
  height: 100%;
}

.main-image::after {
  content: "";
  text-align: calc(0 100%);
  background-color: var(--color-black-coral);
  width: 7.5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 61.91%;
  left: 37.25%;
  transition: 600ms box-shadow ease-in;
}

.main-image:hover::after {
  box-shadow: 0px 0px 7.8px 3.5px var(--color-absolute-zero),
    inset 0 0 10px 10px var(--color-absolute-zero);
}

.main-image:hover .main-figure > .icon1 {
  opacity: 0;
}

.main-image:hover .main-figure > .icon2 {
  transform: scale(1.05);
  opacity: 1;
}
