.main-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms linear;
}

.main-cards.-grey {
  background-color: var(--color-black-coral);
  box-shadow: 10px 10px 0 var(--color-cultured);
  width: 280px;
  height: 280px;
  margin: 0 40px;
}

.main-cards.-grey:hover {
  border-radius: 10px;
  background: radial-gradient(
    circle,
    var(--color-twinkle-blue) 15%,
    var(--color-twinkle-blue) 30%,
    var(--color-black-coral) 70%
  );
  box-shadow: 10px 10px 2px var(--color-cultured);
}

.main-cards.-purple {
  background-color: var(--color-russian-violet);
  border: 1px solid var(--color-russian-violet);
  box-shadow: 10px 10px 0 var(--color-black);
  width: 20%;
  height: 42%;
}

.main-cards.-purple:hover {
  border-radius: 10px;
  border: 1px solid var(--color-cultured);
  background: radial-gradient(
    circle,
    var(--color-gloomy-purple) 15%,
    var(--color-gloomy-purple) 30%,
    var(--color-russian-violet) 70%
  );
  box-shadow: 10px 10px 2px var(--color-black);
}

.main-cards.-purple > .icon1 {
  max-width: 66px;
  max-height: 66px;
  position: absolute;
  transition: 1.5s all ease;
}

.main-cards.-purple > .icon2 {
  max-width: 66.9px;
  max-height: 66.9px;
  transition: 2s all ease;
  opacity: 0;
}

.main-cards.-purple:hover .icon1 {
  opacity: 0;
}

.main-cards.-purple:hover .icon2 {
  transform: scale(1.2);
  opacity: 1;
}

.main-cards.-node {
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 27.7px;
}

.main-cards.-node::before {
  content: "";
  position: absolute;
  height: 0px;
  width: 40px;
  box-sizing: border-box;
  border: 2.5px dashed var(--color-black);
  transform: rotate(90deg) translateX(120%);
}

.main-cards.-node .title {
  font-family: "Press Start 2P", sans-serif;
  font-size: 18px;
  color: var(--color-gloomy-purple);
  margin-bottom: 50px;
}

.main-cards.-node .logo {
  height: 80px;
  width: 80px;
}
