.main-button {
  font-weight: 500;
  font-size: 24px;
  display: inline-block;
  color: var(--color-cultured);
  background-color: var(--color-gloomy-purple);
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  box-shadow: 5px 5px 0px var(--color-black);
  margin-right: 0;
  transition: all 200ms linear;
}

.main-button:hover {
  background: radial-gradient(
    circle,
    var(--color-light-purple) 30%,
    var(--color-gloomy-purple) 80%
  );
  border-radius: 10px;
  box-shadow: 5px 5px 2px var(--color-black);
  transform: scale(1.08);
}

.main-button.-arrow {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.main-button.-arrow.-left {
  transform: translateX(-104px);
}

.main-button.-arrow.-right {
  transform: translateX(104px);
}

.main-button.-arrow > .content {
  display: none;
}

.main-button.-arrow::before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border: 15px solid transparent;
  border-top: 28px solid var(--color-cultured);
  transform: translateY(-3px);
}

.main-button.-arrow.-left::before {
  transform: rotate(90deg) translateX(0px) translateY(13px);
}

.main-button.-arrow.-right::before {
  transform: rotate(-90deg) translateX(0px) translateY(3px);
}
