.main-subtitle {
  color: var(--color-cultured);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-subtitle > .text1 {
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.5rem;
}

.main-subtitle > .text2 {
  position: absolute;
  display: none;
  font-size: 2.5rem;
}

.main-subtitle > .text2::after {
  content: "|";
  margin-left: 5px;
  animation: blink 1s infinite;
  color: var(--color-gloomy-purple);
}

@-webkit-keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
