.main-section {
  padding: 140px 70px 50px;
  border-bottom: 6px solid var(--color-black);
}

.main-section.-grey {
  background-color: var(--color-black-coral);
}

.main-section.-purple {
  background-color: var(--color-russian-violet);
}
