.main-modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  transition: all 450ms ease-in-out;
}

.main-modal > .bg {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
  background-color: var(--color-black);
  opacity: 75%;
}

.state {
  display: none;
}

.state:checked + .main-modal {
  opacity: 1;
  visibility: visible;
}
