.main-button {
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
  display: inline-block;
  color: var(--color-cultured);
  background-color: var(--color-gloomy-purple);
  padding: 16px;
  box-shadow: 5px 5px 0px var(--color-black);
  margin-right: 0;
  transition: all 200ms linear;
}

.main-button:hover {
  background: radial-gradient(
    circle,
    var(--color-light-purple) 30%,
    var(--color-gloomy-purple) 80%
  );
  border-radius: 10px;
  box-shadow: 5px 5px 2px var(--color-black);
  transform: scale(1.08);
}

.main-button.-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  bottom: 40px;
  position: absolute;
  border: none;
  padding: 0px;
}

.main-button.-arrow.-left {
  left: 1.5%;
  padding-right: 0.1%;
}

.main-button.-arrow.-right {
  right: 1.5%;
  padding-left: 0.1%;
}

.main-button.-arrow > .content {
  display: block;
  width: 65%;
  height: 65%;
  background-color: var(--color-cultured);
}

.main-button.-arrow > .content > .text {
  display: none;
}

.main-button.-arrow.-left > .content {
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.main-button.-arrow.-right > .content {
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.main-button.-second {
  margin-top: 15px;
}

.main-button.-second:hover {
  border-radius: 0;
  box-shadow: 5px 5px 0px var(--color-black);
  transform: scale(1);
}
