.main-container {
  display: flex;
  justify-content: space-between;
}

.main-container:hover + .main-title.-second > .text1 {
  opacity: 0;
}

.main-container:hover + .main-title.-second > .text2 {
  opacity: 1;
}
