.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 1s all linear;
}

.main-image:hover {
  transform: scale(1.1);
}

.main-image .lillow {
  max-width: 46vw;
  width: auto;
  height: auto;
}

.main-image::after {
  content: "";
  text-align: calc(0 100%);
  background-color: var(--color-black-coral);
  width: 7.5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 61.91%;
  left: 37.25%;
  transition: all 600ms ease-in;
}

.main-image:hover::after {
  box-shadow: 0px 0px 7.8px 3.5px var(--color-absolute-zero),
    inset 0 0 10px 10px var(--color-absolute-zero);
}

.main-image .icon1 {
  max-width: 90px;
  max-height: 90px;
  position: absolute;
  transition: 1.5s all ease;
  opacity: 1;
}

.main-image .icon2 {
  max-width: 90px;
  max-height: 90px;
  transition: 2s all ease;
  opacity: 0;
}

.main-image:hover .icon1 {
  opacity: 0;
}

.main-image:hover .icon2 {
  transform: scale(1.12);
  opacity: 1;
}

.main-image > .figure1 {
  position: absolute;
  top: 60px;
  left: 120px;

  animation: icon-move 3s linear 3.6s infinite alternate;
}

.main-image > .figure2 {
  position: absolute;
  top: 60px;
  left: 360px;

  animation: icon-move 3s linear 2.4s infinite alternate;
}

.main-image > .figure3 {
  position: absolute;
  bottom: 60px;
  left: 120px;

  animation: icon-move 3s linear 1.5s infinite alternate;
}

.main-image > .figure4 {
  position: absolute;
  bottom: 60px;
  left: 360px;

  animation: icon-move 3s linear 0.6s infinite alternate;
}

@keyframes icon-move {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(0%, 50%);
  }
}

.main-image > .figure1 > .icon2 > .path1 {
  fill: var(--color-portland-orange);
}

.main-image > .figure1 > .icon2 > .path2 {
  fill: var(--color-Mango-tango);
}

.main-image > .figure1 > .icon2 > .path3,
.main-image > .figure2 > .icon2 > .path3,
.main-image > .figure3 > .icon2 > .path8,
.main-image > .figure4 > .icon2 > .path2 {
  fill: var(--color-black-coral);
}

.main-image > .figure1 > .icon2 > .path4,
.main-image > .figure2 > .icon2 > .path5,
.main-image > .figure3 > .icon2 > .path3,
.main-image > .figure3 > .icon2 > .path4,
.main-image > .figure3 > .icon2 > .path6 {
  fill: var(--color-cultured);
}

.main-image > .figure1 > .icon2 > .path5,
.main-image > .figure2 > .icon2 > .path6,
.main-image > .figure4 > .icon2 > .circle {
  fill: var(--color-twinkle-blue);
}

.main-image > .figure1 > .icon2 > .path6,
.main-image > .figure2 > .icon2 > .path4 {
  fill: var(--color-yellow-munsell);
}

.main-image > .figure2 > .icon2 > .path1 {
  fill: var(--color-absolute-zero);
}

.main-image > .figure2 > .icon2 > .path2 {
  fill: var(--color-bluetiful);
}

.main-image > .figure3 > .icon2 > .path1 {
  fill: var(--color-yellow-munsell);
}

.main-image > .figure3 > .icon2 > .path2 {
  fill: var(--color-arylide-yellow);
}

.main-image > .figure4 > .icon2 > .path1 {
  fill: var(--color-sky-blue);
}
