.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #778ca351;
  border-bottom: 3px solid #4b658451;
  width: 100%;
  padding: 10px 20px;
  z-index: 998;
  position: fixed;
}

.nav-bar > .navigation > .menu > .item {
  display: inline;
  margin-right: 48px;
}

@media screen and (max-width: 1000px) {
  .nav-bar > .navigation {
    display: none;
  }
}
