.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  --color-black-coral: #778ca370;
  background-color: var(--color-black-coral);
  border-bottom: 3px solid #778ca3a0;
  width: 100%;
  padding: 10px 20px;
  z-index: 999;
  position: fixed;
}

.nav-bar > .navigation > .menu > .item {
  display: inline;
  margin-right: 48px;
}
