.projects-main {
  background-color: var(--color-russian-violet);
}

.projects-main .wrapper {
  display: flex;
}

.projects-main > .container > .more {
  text-align: center;
}

.projects-main > .container:hover + .title-main > .text1 {
  opacity: 0;
}

.projects-main > .container:hover + .title-main > .text2 {
  opacity: 1;
}
