#skills {
  padding: 140px 70px 50px;
  background-color: var(--color-black-coral);
  border-bottom: 6px solid var(--color-black);
}

#skills > .skills-container {
  display: flex;
  justify-content: space-between;
}

#skills .subtitle-wrapper {
  position: relative;
  bottom: 390px;
}

#skills .subtitle-wrapper > .subtitle {
  transition: opacity 400ms linear;
}

#skills .subtitle-wrapper > .subtitle-b {
  transition: opacity 200ms linear;
}
