.skills-main {
  background-color: var(--color-black-coral);
}

.skills-main > .container {
  display: flex;
  justify-content: space-between;
}

.skills-main .wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.skills-main > .container:hover + .title-main > .text1 {
  opacity: 0;
}

.skills-main > .container:hover + .title-main > .text2 {
  opacity: 1;
}
.skills-main .wrapper:hover + .skills-text {
  border-radius: 10px;
  background: radial-gradient(
    circle,
    var(--color-gloomy-purple) 10%,
    var(--color-russian-violet) 100%
  );
  box-shadow: 10px 10px 2px var(--color-black);
}
