#skills {
  padding: 140px 70px 50px;
  background-color: var(--color-black-coral);
  border-bottom: 6px solid var(--color-black);
}

#skills > .skills-container {
  display: flex;
  justify-content: space-between;
}

#skills .title-main {
  position: relative;
  bottom: 390px;
}

#skills .title-main > .text1 {
  font-size: 24px;
  color: var(--color-cultured);
  transition: opacity 400ms linear;
}

#skills .title-main > .text2 {
  font-size: 36px;
  color: var(--color-cultured);
  transition: opacity 200ms linear;
}
