.skills-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 305px;
  background-color: var(--color-russian-violet);
  box-shadow: 10px 10px 0 var(--color-black);
  transition: all 400ms linear;
}
