.skills-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.skills-container:hover + .title > .title-text1 {
  opacity: 0;
}

.skills-container:hover + .title > .title-text2 {
  opacity: 1;
}
.skills-cards:hover + .skills-text {
  border-radius: 10px;
  background: radial-gradient(
    circle,
    var(--color-gloomy-purple) 10%,
    var(--color-russian-violet) 100%
  );
}
