.skills-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-russian-violet);
  border: 1px solid var(--color-russian-violet);
  width: 20%;
  flex-grow: 1;
  height: 130px;
  transition: all 400ms linear;
}

.skills-card:hover {
  border-radius: 10px;
  border: 1px solid var(--color-cultured);
  background: radial-gradient(
    circle,
    var(--color-gloomy-purple) 15%,
    var(--color-gloomy-purple) 30%,
    var(--color-russian-violet) 70%
  );
}

.skills-card:hover .icon-html-pixel,
.skills-card:hover .icon-css-pixel,
.skills-card:hover .icon-js-pixel,
.skills-card:hover .icon-react-pixel {
  opacity: 0;
}

.skills-card:hover .icon-html,
.skills-card:hover .icon-css,
.skills-card:hover .icon-js,
.skills-card:hover .icon-react {
  transform: scale(1.2);
  opacity: 1;
}
