.subtitle-wrapper {
  color: var(--color-cultured);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subtitle {
  font-family: "Press Start 2P", sans-serif;
  font-size: 24px;
}

.subtitle-wrapper {
  text-align: center;
}

.subtitle-s {
  position: absolute;
  display: none;
  box-sizing: 100px;
}

.subtitle-b {
  font-size: 36px;
  position: absolute;
  opacity: 0;
}
