.subtitle-main {
  color: var(--color-cultured);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subtitle-main > .text1 {
  font-family: "Press Start 2P", sans-serif;
  font-size: 24px;
}

.subtitle-main > .text2 {
  position: absolute;
  display: none;
}
