.title-main {
  color: var(--color-gloomy-purple);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.title-main > .text1 {
  font-family: "Press Start 2P", sans-serif;
  font-size: 30px;
  text-shadow: 3px 3px 0 var(--color-black);
}

.title-main > .text2 {
  font-weight: 700;
  font-size: 50px;
  position: absolute;
  opacity: 0;
  text-shadow: 3px 3px 2px var(--color-black);
}
