@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Regular.eot?') format('eot'),
        url('../fonts/Raleway/Raleway-Regular.woff') format('woff'),
        url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype'),
        url('../fonts/Raleway/Raleway-Regular.svg#Raleway') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Medium';
    src: url('../fonts/Raleway_Medium/Raleway-Medium.eot?') format('eot'),
        url('../fonts/Raleway_Medium/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway_Medium/Raleway-Medium.ttf') format('truetype'),
        url('../fonts/Raleway_Medium/Raleway-Medium.svg#Raleway-Medium')
            format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Heavy';
    src: url('../fonts/Raleway_Heavy/Raleway-Heavy.eot?') format('eot'),
        url('../fonts/Raleway_Heavy/Raleway-Heavy.woff') format('woff'),
        url('../fonts/Raleway_Heavy/Raleway-Heavy.ttf') format('truetype'),
        url('../fonts/Raleway_Heavy/Raleway-Heavy.svg#Raleway-Heavy')
            format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway Medium';
}

::-moz-selection {
    background-color: #6f44b6;
    color: #fafafa;
}

::selection {
    background-color: #6f44b6;
    color: #fafafa;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button,
input {
    border: 0;
    font-family: 'Raleway Medium';
}

button:focus,
input:focus {
    border: 0;
}

body {
    font-family: 'Raleway Medium';
    background-color: #fafafa;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    cursor: url('../image/cursor.svg'), auto;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #0e091b;
}

::-webkit-scrollbar-thumb {
    background-color: #6f44b6;
    border-radius: 6px;
}

header {
    background: rgba 14, 9, 27, 0.6;
    backdrop-filter: blur(25px);
    border-bottom: 1px solid rgba(102, 102, 112, 0.274);
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header .grid-layout nav {
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

header .grid-layout nav h2 {
    font-size: 4rem;
    color: #fafafa;
}

header .grid-layout nav h2 .special-character {
    font-size: 5rem;
    color: #6f44b6;
}

header .grid-layout nav .nav-list {
    list-style: none;
    display: flex;
}

header .grid-layout nav .nav-list li {
    margin-left: 50px;
}

header .grid-layout nav .nav-list li a {
    color: #bebebe;
    font-size: 2.4rem;
    position: relative;
    font-family: 'Raleway Medium';
}

header .grid-layout nav .nav-list li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    background: linear-gradient(270deg, #6f44b6 0%, #17161d 100%);
    transform-origin: bottom right;
    transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

header .grid-layout nav .nav-list li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header .grid-layout nav .nav-list li a:hover {
    color: #fafafa;
}

.mobile-menu {
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 1px;
    background-color: #fafafa;
    margin: 8px;
    transition: 0.4s;
}

.nav-list.active {
    visibility: initial;
    transition: 1s all ease;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

@media screen and (max-width: 992px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        text-align: center;
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        background-color: #110e1b;
        flex-direction: column;
        padding-top: 100px;
        visibility: hidden;
    }
    header .grid-layout nav .nav-list li {
        opacity: 0;
        margin: 0px 0px 50px 0px;
    }

    .mobile-menu {
        display: block;
    }
}

#s-home {
    padding: 0px 50px;
    background-color: #0e091b;
    position: relative;
}

@media screen and (max-width: 992px) {
    #s-home {
        padding: 0px 20px;
    }
}

#s-home .grid-layout #home {
    display: flex;
    align-items: center;
    height: 90vh;
    overflow: hidden;
    width: 100%;
}

#s-home .grid-layout #home #home-container-text {
    width: 60%;
    flex-direction: column;
}

@media screen and (max-width: 992px) {
    #s-home .grid-layout #home #home-container-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 0px;
    }
}

#s-home .grid-layout #home #home-container-text h2 {
    color: #fafafa;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Raleway';
}

#s-home .grid-layout #home #home-container-text h2 #home-name {
    font-size: 5.6rem;
}

#s-home .grid-layout #home #home-container-text h2 .typewriter {
    font-family: 'Raleway';
}

#s-home .grid-layout #home #home-container-text a {
    background: linear-gradient(
        225deg,
        rgba(102, 16, 242, 0.3) 0%,
        rgba(102, 16, 242, 0) 100%
    );
    color: #fafafa;
    backdrop-filter: blur(10px);
    padding: 15px 30px;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid rgba(102, 16, 242, 0.5);
    transition: all 0.7s ease;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Raleway';
}

#s-home .grid-layout #home #home-container-text a:hover {
    padding: 15px 45px;
    max-width: 280px;
    background: linear-gradient(
        225deg,
        rgba(102, 16, 242, 0.6) 0%,
        rgba(102, 16, 242, 0) 100%
    );
}

#s-home .grid-layout #home-container-image img {
    width: 39vh;
}

#s-about {
    padding: 100px 50px;
    background-color: #110e1b;
}

#s-about .grid-layout #about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#s-about .grid-layout #about-image {
    width: 50%;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 1s all ease;
}

#s-about .grid-layout #about-image:hover {
    transform: scale(1.1);
}

#s-about .grid-layout #about-image div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#s-about .grid-layout #about-image div img {
    width: 45px;
}

#s-about .grid-layout #about-image #figura1 {
    position: absolute;
    top: 60px;
    right: 444px;
    background-color: #12052a;
    border-radius: 10px;
    width: 75px;
    height: 75px;
}

#s-about .grid-layout #about-image #figura2 {
    position: absolute;
    top: 69px;
    right: 165px;
    background-color: #12052a;
    border-radius: 10px;
    width: 75px;
    height: 75px;
}

#s-about .grid-layout #about-image #figura3 {
    position: absolute;
    top: 240px;
    right: 426px;
    background-color: #12052a;
    border-radius: 10px;
    width: 75px;
    height: 75px;
}

#s-about .grid-layout #about-image #figura4 {
    position: absolute;
    top: 250px;
    right: 210px;
    background-color: #12052a;
    border-radius: 10px;
    width: 75px;
    height: 75px;
}

#s-about .grid-layout #about-image .icon1 {
    animation: icon-move 3s ease 3.9s infinite alternate;
}

#s-about .grid-layout #about-image .icon2 {
    animation: icon-move 3s ease 2.9s infinite alternate;
}

#s-about .grid-layout #about-image .icon3 {
    animation: icon-move 3s ease 1.6s infinite alternate;
}

#s-about .grid-layout #about-image .icon4 {
    animation: icon-move 3s ease 0.6s infinite alternate;
}

@-webkit-keyframes icon-move {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(10px, -40px, 0);
    }
}

@keyframes icon-move {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(10px, -40px, 0);
    }
}

@media screen and (max-width: 1200px) {
    #s-about .grid-layout #about-image {
        display: none;
    }
}

#s-about .grid-layout #about-text {
    width: 50%;
}

@media screen and (max-width: 1200px) {
    #s-about .grid-layout #about-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }
}

#s-about .grid-layout #about-text h2 {
    padding-bottom: 20px;
    color: #fafafa;
    font-size: 4rem;
    font-weight: 500;
}

#s-about .grid-layout #about-text h2 span {
    color: #6f44b6;
    font-size: 6rem;
}

#s-about .grid-layout #about-text p {
    line-height: 3.2rem;
    color: #bebebe;
    font-family: 'Raleway';
    font-size: 1.8rem;
}

#s-projects {
    padding: 100px 50px;
    text-align: center;
    background-color: #0e091b;
}

@media screen and (max-width: 992px) {
    #s-projects {
        padding: 50px 20px;
    }
}

#s-projects .grid-layout h2 {
    padding-bottom: 20px;
    color: #fafafa;
    font-size: 4rem;
    font-weight: 500;
}

#s-projects .grid-layout h2 span {
    color: #6f44b6;
    font-size: 6rem;
}

#s-projects .grid-layout .projects {
    margin: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
}

#s-projects .grid-layout .projects li {
    display: inline-block;
    margin: 0 0 0 15px;
}

#s-projects .grid-layout .projects > .span3 {
    height: auto;
    flex-grow: 1;
    flex-basis: calc(33% - 20px);
    background-color: #110e1b;
    padding: 30px 25px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #110e1b;
}

#s-projects .grid-layout .projects > .span3:hover {
    border-radius: 5px;
    border-image: linear-gradient(225deg, #6f44b6 0%, #110e1b 100%) 1;
}

@media screen and (max-width: 1200px) {
    #s-projects .grid-layout .projects > .span3 {
        flex-basis: calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    #s-projects .grid-layout .projects > .artispan3cle {
        flex-basis: calc(100% - 20px);
    }
}

#s-projects .grid-layout .projects > .span3 h3 {
    color: #fafafa;
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

#s-projects .grid-layout .projects > .span3 h3:hover {
    transform: scale(1.2);
}

#s-projects .grid-layout .projects .span3 a p {
    line-height: 28px;
    margin-top: 20px;
    color: #bebebe;
    font-family: 'Raleway';
    font-size: 1.6rem;
    text-align: center;
    position: relative;
}

#s-projects .grid-layout .projects .span3 a ::after {
    content: '';
    position: absolute;
    width: 82%;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    background: linear-gradient(270deg, #6f44b6 0%, #17161d 100%);
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

#s-projects .grid-layout .projects .span3 a p:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#s-projects .grid-layout .projects > .span3 a p:hover {
    color: #fafafa;
}

#s-projects .grid-layout .projects > .span3 > a {
    width: 50%;
}

#s-projects .grid-layout .projects > .span3 #iframe {
    display: flex;
    justify-content: center;
}

#s-projects .grid-layout .github-projects {
    margin-top: 20px;
}

#s-projects .grid-layout .github-projects #github-projects {
    color: #6f44b6;
    font-size: 18px;
    position: relative;
}

#s-projects .grid-layout .github-projects #github-projects::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    background: linear-gradient(270deg, #6f44b6 0%, #17161d 100%);
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

#s-projects .grid-layout .github-projects #github-projects:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#s-projects .grid-layout .control-box {
    text-align: center;
    width: 100%;
}

#s-projects .grid-layout .control-box .carousel-control {
    background: #110e1b;
    color: #ffffff;
    border: 0px;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    font-size: 42px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 33px;
    width: 36px;
    right: 0;
}

#s-projects .grid-layout .control-box .carousel-control:hover {
    transform: scale(2.4);
}

#s-services {
    padding: 100px 50px;
    background-color: #110e1b;
}

@media screen and (max-width: 992px) {
    #s-services {
        padding: 50px 20px;
    }
}

#s-services .grid-layout h2 {
    text-align: center;
    padding-bottom: 20px;
    color: #fafafa;
    font-size: 4rem;
    font-weight: 500;
}

#s-services .grid-layout h2 span {
    color: #6f44b6;
    font-size: 6rem;
}

#s-services .grid-layout #services {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    margin: 25px 0px;
}

#s-services .grid-layout #services article {
    height: auto;
    background-color: #0e091b;
    padding: 40px 30px;
    border-radius: 5px;
    margin: 10px;
    flex-basis: calc(25% - 20px);
    flex-grow: 1;
    border: 1px solid #110e1b;
}

#s-services .grid-layout #services article:hover {
    border-image: linear-gradient(225deg, #6f44b6 0%, #110e1b 100%) 1;
}

@media screen and (max-width: 1200px) {
    #s-services .grid-layout #services article {
        flex-basis: calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    #s-services .grid-layout #services article {
        flex-basis: calc(100% - 20px);
    }
}

#s-services .grid-layout #services article div {
    height: 90px;
}

#s-services .grid-layout #services article div img {
    width: 70px;
}

#s-services .grid-layout #services article div .icon-services-large {
    width: 90px;
}

#s-services .grid-layout #services article h3 {
    padding: 20px 0px;
    color: #fafafa;
    font-size: 2rem;
    font-weight: 500;
}

#s-services .grid-layout #services article p {
    line-height: 28px;
    color: #bebebe;
    font-family: 'Raleway';
    font-size: 1.6rem;
}

#s-skills {
    padding: 100px 50px;
    background-color: #0e091b;
    padding-bottom: 50px;
}

@media screen and (max-width: 992px) {
    #s-skills {
        padding: 50px 20px;
    }
}

#s-skills .grid-layout #skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
}

#s-skills .grid-layout #skills div,
#s-skills .grid-layout #skills article {
    width: 50%;
}

@media screen and (max-width: 1200px) {
    #s-skills .grid-layout #skills div,
    #s-skills .grid-layout #skills article {
        width: 100%;
    }
}

#s-skills .grid-layout #skills div h2 span,
#s-skills .grid-layout #skills article h2 span {
    color: #6f44b6;
    font-size: 6rem;
}

#s-skills .grid-layout #skills #skills-text {
    height: 300px;
}

#s-skills .grid-layout #skills #skills-text h2 {
    margin-bottom: 30px;
    color: #fafafa;
    font-size: 3.2rem;
    font-weight: 500px;
}

#s-skills .grid-layout #skills #skills-text p {
    max-width: 500px;
    line-height: 32px;
    color: #bebebe;
    font-family: 'Raleway';
    font-size: 1.8rem;
}

#s-skills .grid-layout #skills #skills-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 1200px) {
    #s-skills .grid-layout #skills #skills-cards {
        margin-top: 50px;
    }
}

#s-skills .grid-layout #skills #skills-cards article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 20%;
    flex-grow: 1;
    height: 130px;
    background-color: #110e1b;
    border-radius: 5px;
    position: relative;
    border: 1px solid #110e1b;
}

#s-skills .grid-layout #skills #skills-cards article:hover {
    border: 1px solid #110e1b;
    border-image: linear-gradient(225deg, #6f44b6 0%, #110e1b 100%) 1;
}

#s-skills .grid-layout #skills #skills-cards article:hover .skills-cards-name,
#s-skills
    .grid-layout
    #skills
    #skills-cards
    article:hover
    .skills-cards-name-high,
#s-skills
    .grid-layout
    #skills
    #skills-cards
    article:hover
    .skills-cards-name-low {
    display: block;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #s-skills .grid-layout #skills #skills-cards article {
        width: 40%;
        margin: 20px 0px;
    }
}

#s-skills .grid-layout #skills #skills-cards article .skills-cards-name,
#s-skills .grid-layout #skills #skills-cards article .skills-cards-name-high,
#s-skills .grid-layout #skills #skills-cards article .skills-cards-name-low {
    left: 50%;
    height: auto;
    position: absolute;
    padding: 5px;
    transform: translate(-50%, 0%);
    background-color: #110e1b;
    width: 125px;
    border-radius: 4px;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    font-size: 1.8rem;
}

#s-skills .grid-layout #skills #skills-cards article .skills-cards-name-high {
    top: -50px;
}

#s-skills .grid-layout #skills #skills-cards article .skills-cards-name-low {
    bottom: -50px;
}

#s-skills .grid-layout #skills #skills-cards article .aumento-hover {
    bottom: -75px;
}

#s-skills .grid-layout #skills #skills-cards article .skills-icons {
    width: 60px;
}

footer {
    text-align: center;
    color: #fafafa;
    margin-top: 75px;
}

footer .grid-layout {
    border-top: 1px solid rgba(102, 102, 112, 0.274);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    footer .grid-layout {
        justify-content: center;
    }
}

footer .grid-layout #direitos-autorais {
    margin-top: 20px;
    text-align: center;
    color: #72727e;
    font-family: 'Raleway';
    font-size: 1.8rem;
}

footer .social-networks {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

footer .social-networks a {
    padding: 0.6rem;
}

.typewriter:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blink 1s infinite;
    color: #6f44b6;
}

@-webkit-keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.grid-layout {
    max-width: 1140px;
    margin: 0 auto;
}
