:root {
  --color-gloomy-purple: #8854d0;
  --color-light-purple: #a55eea;
  --color-russian-violet: #391a60;
  --color-twinkle-blue: #a5b1c2;
  --color-black-coral: #576575;
  --color-cultured: #f3f5f7;
  --color-black: #000;

  --color-portland-orange: #f16338;
  --color-orange-mix-gradient: linear-gradient(
    90deg,
    #f14d5c 20%,
    var(--color-portland-orange) 50%,
    #f1b138 90%
  );
}
