:root {
  --color-gloomy-purple: #8854d0;
  --color-light-purple: #a55eea;
  --color-russian-violet: #391a60;
  --color-twinkle-blue: #a5b1c2;
  --color-black-coral: #576575;
  --color-cultured: #f3f5f7;
  --color-white: #fff;
  --color-black: #000;

  --color-red-pigment: #ed2025;
  --color-sizzling-red: #f14d5c;
  --color-portland-orange: #e65100;
  --color-Mango-tango: #ff7a33;
  --color-yellow-munsell: #e5c71e;
  --color-arylide-yellow: #eedb6d;
  --color-absolute-zero: #144bc9;
  --color-bluetiful: #336aeb;
  --color-sky-blue: #61dafb;
}
