:root {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: var(--color-cultured);
}

::selection {
  background-color: var(--color-gloomy-purple);
  color: var(--color-cultured);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gloomy-purple);
}

/* Media Queries */

@media (max-width: 1200px) {
  .main-wrapper.-grey {
    margin-top: 50px;
    width: 100%;
  }

  .main-box.-purple {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .nav-bar > .navigation {
    display: none;
  }
}

@media (max-width: 720px) {
  .main-cards.-purple {
    width: 40%;
    margin: 20px 0px;
  }
}

@media (max-width: 420px) {
  .main-box.-purple > .main-text.-second {
    font-size: 0.85em;
  }
}
