:root {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: var(--color-cultured);
}

::selection {
  background-color: var(--color-gloomy-purple);
  color: var(--color-cultured);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gloomy-purple);
}

/* Breakpoints */
@media (min-width: 2560px) {
  :root {
    font-size: 200%;
  }
}

/* 1024px */
@media (max-width: 1024px) {
  .main-navbar > .navigation {
    display: none;
  }

  .main-mobilemenu {
    display: block;
  }

  .main-container.-purple.-second {
    justify-content: space-evenly;
    flex-direction: column-reverse;
    margin-top: 15vh;
    margin-bottom: 15vh;
    height: 100vh;
  }

  .main-wrapper.-banner,
  .main-image {
    width: 74%;
  }

  .main-cards.-node.-five {
    display: none;
  }

  .main-wrapper.-grey {
    margin-top: 50px;
    width: 100%;
  }

  .main-box.-purple {
    width: 100%;
  }

  .main-wrapper.-grey.-second {
    margin-top: 0;
  }

  .main-figure.-second .icon1 {
    width: 65%;
  }
}

/* 768px */
@media (max-width: 768px) {
  :root {
    font-size: 80%;
  }

  .main-wrapper.-banner,
  .main-image {
    width: 85%;
  }

  .main-cards.-node.-four {
    display: none;
  }

  .main-wrapper.-purple {
    flex-direction: column;
    height: 116vh;
  }

  .main-cards.-grey {
    width: 70%;
  }

  .main-cards.-purple {
    width: 40%;
    margin: 20px 0px;
  }

  .main-figure.-second .icon1 {
    width: 45%;
  }
}

/* 425px */
@media (max-width: 425px) {
  :root {
    font-size: 75%;
  }

  .main-wrapper.-banner,
  .main-image {
    width: 100%;
  }

  .main-cards.-node.-three {
    display: none;
  }

  .main-cards.-grey {
    width: 80%;
  }

  .main-figure.-second .icon1 {
    width: 100%;
  }
}

/* 375px */
@media (max-width: 375px) {
  .main-button {
    font-size: 120%;
  }
}

/* 320px */
@media (max-width: 320px) {
  .main-figure.-second .icon1 {
    height: 75%;
  }
}
