/* navbar */
header {
  background-color: #778ca351;
  border-bottom: 2px solid #4b658451;
  width: 100%;
  padding: 10px 20px;
  /* position: fixed; */
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu {
  text-align: right;
  font-weight: 500;
}

#menu li {
  display: inline;
  margin-right: 48px;
}

/* navbar */
