/* navbar */
    header {
        background-color: #778ca351;
        border-bottom: 2px solid #4b658451;
        width: 100%;
        padding: 10px 20px;
        /* position: fixed; */
    }

    header #navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Raleway', sans-serif;
    }

    header #navbar #logo-lillow{
        font-weight: 700;
        font-size: 40px;
        color: var(--color-cultured);
        text-shadow: 5px 5px 0 #000;
        transition: all 300ms linear;
    }

    header #navbar #logo-lillow .special-character {
        color: var(--color-gloomy-purple);
        transition: all 300ms ease-in-out;
    }

    header #navbar #logo-lillow:hover{
        transform: scale(1.08);
        /* letter-spacing: 1px; */
        text-shadow: 5px 5px 2px #000;
    }

    header #navbar #logo-lillow:hover .special-character {
        opacity: 0.8;
    }

    header .menu{
        text-align: right;
        font-weight: 500;
    }

    header .menu li {
        display: inline;
        margin-right: 48px;
    }

    header .menu li  a{
        display: inline-flex;
        color: var(--color-twinkle-blue);
        font-size: 24px;
        align-items: center
    }

    header .menu li a::before {
        content: "";
        background-color: var(--color-gloomy-purple);
        width: 10px;
        height: 10px;
        margin-right: 10px;
        transition: all 100ms linear;
    }

    header .menu li a:hover{
        color:var(--color-cultured) ; 
    }
    
    header .menu li a:hover::before{
    opacity: 0.8;
    transform: rotate(0.38turn);
        
    }

    header .menu #button-menu {
        display: inline-block;
        color: var(--color-cultured);
        background-color: var(--color-gloomy-purple);
        height: 48px;
        line-height: 48px;
        padding: 0 16px;
        box-shadow: 5px 5px 0px #000;
        margin-right: 0;
        transition: all 200ms linear;
    }

    header .menu #button-menu:hover{
        opacity: 0.8;
        border-radius: 10px;
        box-shadow: 5px 5px 2px #000;
        transform: scale(1.08);
    }

/* navbar */

/* home */
    #home {
        font-family: 'Press Start 2P', sans-serif;
    }
/* home */

