/* navbar */
    header {
        background-color: #778ca351;
        border-bottom: 2px solid #4b658451;
        width: 100%;
        padding: 10px 20px;
        position: fixed;
    }

    header nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Raleway', sans-serif;
    }

    header nav h2{
        font-weight: 700;
        font-size: 40px;
        color: var(--color-cultured);
        text-shadow: 5px 5px 0 #000;
        transition: 600ms;
    }

    header nav h2 span {
        color: var(--color-gloomy-purple);
        transition: 600ms;
    }

    header nav h2:hover{
        letter-spacing: 1px;
        text-shadow: 5px 5px 2.5px #000;
    }

    header nav h2:hover span {
        color: var(--color-lighter-purple);
    }

    header ul{
        text-align: right;
        font-weight: 500;
    }

    header ul  li {
        display: inline;
        margin-right: 48px;
    }

    header ul  li  a{
        display: inline-flex;
        color: var(--color-twinkle-blue);
        font-size: 24px;
        align-items: center
    }

    header ul li a::before {
        content: "";
        background-color: var(--color-gloomy-purple);
        width: 10px;
        height: 10px;
        margin-right: 10px;
        transition: 900ms;
    }

    header ul li a:hover{
        color:var(--color-cultured) ; 
    }
    
    header ul li a:hover::before{
    border-radius: 100%;
    background-color: var(--color-lighter-purple);
        
    }

    header ul #button {
        display: inline-block;
        color: var(--color-cultured);
        background-color: var(--color-gloomy-purple);
        height: 48px;
        line-height: 48px;
        padding: 0 16px;
        box-shadow: 5px 5px 0px #000;
        margin-right: 0;
        transition: 600ms;
    }

    header ul #button:hover{
        background-color: var(--color-lighter-purple);
        border-radius: 10px;
        box-shadow: 5px 5px 2.5px #000;
    }

/* navbar */